<html>
  <head>
    <title><% title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/login/">Login</a></li>
        <li><a href="/logout/">LogOut</a></li>
      </ul>
    </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
