<html>
  <head>
    <title><% title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include ("partials/nav") %>
    <h1><%= title %></h1>
    <p>Hey! My name is '<%= name %>'</p>
  </body>
</html>
