body {
  font-family: "Montserrat", sans-serif;
}
.profileInfo {
  width: 200px;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #0000;
}
.profileInfo img {
  width: 100%;
}

.profileInfo .name {
  margin-bottom: 5px;
  font-size: 1em;
  text-align: center;
  color: #16106d;
}
